.img-box{
    width: 50%;
}
.img-box img{
    width: 500px;
    height: 300px;
    margin: 50px auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.group-img{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.group-img img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    object-fit: cover; 
    /* image라는 태그 자체를 쓸때 */
}